<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_ur5e_gripper">

    <xacro:arg name="left_initial_positions_file" default="$(find dual_ur5e_gripper_moveit_config)/config/left_initial_positions.yaml"/>
    <xacro:arg name="right_initial_positions_file" default="$(find dual_ur5e_gripper_moveit_config)/config/right_initial_positions.yaml"/>

    <!-- Root link -->
    <link name="world"/>

    <!-- Xacro imports -->
    <xacro:include filename="single_ur5e_gripper.urdf.xacro" />

    <!-- Left arm -->
    <xacro:ur5e_gripper name="left_ur" prefix="left_" parent="world" initial_positions_file="$(arg left_initial_positions_file)">
        <origin xyz="0 0.5 1.03" rpy="0 0 0" />
    </xacro:ur5e_gripper>

    <!-- Right arm -->
    <xacro:ur5e_gripper name="right_ur" prefix="right_" parent="world" initial_positions_file="$(arg right_initial_positions_file)">
        <origin xyz="0 -0.5 1.03" rpy="0 0 0" />
    </xacro:ur5e_gripper>

    <!-- realsense d435 -->
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:sensor_d435 parent="world" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
        <origin xyz="1.5 0 2" rpy="0 0.785398163 3.1415926"/>
    </xacro:sensor_d435>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find dual_ur5e_gripper_moveit_config)/config/dual_ur5e_gripper_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
            <arm>
                <arm_name>left_robotiq_gripper_arm</arm_name>
                <palm_link>left_wrist_3_link</palm_link>
                <gripper_link>left_robotiq_85_left_finger_tip_link</gripper_link>
                <gripper_link>left_robotiq_85_right_finger_tip_link</gripper_link>
                <gripper_link>left_robotiq_85_left_knuckle_link</gripper_link>
                <gripper_link>left_robotiq_85_right_knuckle_link</gripper_link>
                <!-- <gripper_link>left_robotiq_85_left_finger_link</gripper_link>
                <gripper_link>left_robotiq_85_right_finger_link</gripper_link> -->
                <gripper_link>left_robotiq_85_left_inner_knuckle_link</gripper_link>
                <gripper_link>left_robotiq_85_right_inner_knuckle_link</gripper_link>
            </arm>
            <arm>
                <arm_name>right_robotiq_gripper_arm</arm_name>
                <palm_link>right_wrist_3_link</palm_link>
                <gripper_link>right_robotiq_85_left_finger_tip_link</gripper_link>
                <gripper_link>right_robotiq_85_right_finger_tip_link</gripper_link>
                <gripper_link>right_robotiq_85_left_knuckle_link</gripper_link>
                <gripper_link>right_robotiq_85_right_knuckle_link</gripper_link>
                <!-- <gripper_link>left_robotiq_85_left_finger_link</gripper_link>
                <gripper_link>left_robotiq_85_right_finger_link</gripper_link> -->
                <gripper_link>right_robotiq_85_left_inner_knuckle_link</gripper_link>
                <gripper_link>right_robotiq_85_right_inner_knuckle_link</gripper_link>
            </arm>
            <forces_angle_tolerance>150</forces_angle_tolerance>
            <update_rate>50</update_rate>
            <grip_count_threshold>2</grip_count_threshold>
            <max_grip_count>8</max_grip_count>
            <release_tolerance>0.05</release_tolerance>
            <disable_collisions_on_attach>true</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
         </plugin>
     </gazebo>


</robot>
