[submodule "src/ur5e_gripper/Universal_Robots_ROS2_Description"]
	path = src/ur5e_gripper/Universal_Robots_ROS2_Description
	url = git@github.com:zitongbai/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "src/libs/realsense_ros2_gazebo"]
	path = src/libs/realsense_ros2_gazebo
	url = git@github.com:zitongbai/realsense_ros2_gazebo.git
