<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_ur5e_gripper">

    <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro" />
    <xacro:ur_srdf name="ur" prefix="left_" />
    <xacro:ur_srdf name="ur" prefix="right_" />

    <xacro:include filename="$(find robotiq_moveit_config)/srdf/robotiq_macro.srdf.xacro" />
    <xacro:robotiq_srdf prefix="left_" />
    <xacro:robotiq_srdf prefix="right_" />

    <!-- todo end effector -->

    <disable_collisions link1="left_robotiq_85_base_link" link2="left_wrist_1_link" reason="Never"/>
    <disable_collisions link1="left_robotiq_85_base_link" link2="left_wrist_2_link" reason="Never"/>
    <disable_collisions link1="left_robotiq_85_base_link" link2="left_wrist_3_link" reason="Adjacent"/>
    
    <disable_collisions link1="right_robotiq_85_base_link" link2="right_wrist_1_link" reason="Never"/>
    <disable_collisions link1="right_robotiq_85_base_link" link2="right_wrist_2_link" reason="Never"/>
    <disable_collisions link1="right_robotiq_85_base_link" link2="right_wrist_3_link" reason="Adjacent"/>

</robot>