# MoveIt uses this configuration for controller management
# controller_names here should be the same as those in ros2 control

controller_names:
  - ur5e_arm_controller
  - gripper_controller

ur5e_arm_controller:
  type: FollowJointTrajectory
  action_ns: follow_joint_trajectory
  default: true
  joints:
    - shoulder_pan_joint
    - shoulder_lift_joint
    - elbow_joint
    - wrist_1_joint
    - wrist_2_joint
    - wrist_3_joint
  action_ns: follow_joint_trajectory
  default: true
gripper_controller:
  type: GripperCommand
  joints:
    - robotiq_85_left_knuckle_joint
  action_ns: gripper_cmd
  default: true