<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_gripper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5e_gripper urdf file -->
    <xacro:include filename="$(find ur5e_gripper_description)/urdf/ur5e_gripper.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5e_gripper.ros2_control.xacro" />


    <xacro:ur5e_gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
